<div class="card-container indigo-container ">
    <!-- style="border: 1px solid #ffffff;" -->
    <div class="grid " >
        <div class="col-4 border-1 surface-border border-round m-3" >
            <p-table #formationsTable [value]="formations" selectionMode="single" [(selection)]="selectedFormation"  
            [rows]="14" [paginator]="true" stateStorage="session" stateKey="stat edemo-session">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name" >Formations list</th>
                </tr>
                <tr>
                    <th>
                        <input pInputText type="text" (input)="filter($event,formationsTable)" placeholder="Search by Formation name" 
                        class="w-full">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-formation let-rowIndex="rowIndex">
                <tr >
                    <td class="btn-cell">
                        <p-button label="Compare" styleClass="p-button-primary" ></p-button>
                        <a class="setName">{{formation.name}}</a>
                        <p-button label="Show" styleClass="p-button-secondary" (click)="changeShowFormation(formation,rowIndex)"></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">No formations found.</td>
                </tr>
            </ng-template>
            </p-table>
        </div >
        <div class="grid col-7 border-1 surface-border border-round m-3" >
            <show-user-formation class="grid col-12"
            [showFormation]="showFormation"
            [assaulters]="assaulters"
            [vanguards]="vanguards"
            [supports]="supports"
            [canModify]="false"></show-user-formation>
        </div> 
    </div>
   

</div>
