
<div class="grid">
    <ng-container *ngFor="let parte of showSet.partes">
        <!-- Solo crear el div si no contiene 'shuriken' o 'scroll' en el nombre -->
        <div *ngIf="!parte.nombre.includes('shuriken') && !parte.nombre.includes('scroll')" class="col-4 flex-container">
            <img [src]="parte.image | imageUrl: parte.nombre: 'equipment'" 
                 (mouseenter)="showOverlay($event, op, parte)"
                 (mouseleave)="op.hide()"
                 alt="{{ parte.nombre }}" 
                 class="img-responsive">
        </div>
    </ng-container>
    <p-overlayPanel #op>
        <div class="custom-overlay-content" *ngIf="selectedPart">
          <p class="title">{{ selectedPart.nombre }}</p>
          <p><span class="icon"></span>{{ selectedPart.atributo.nombre }}: {{ selectedPart.valor }}</p>
          <div *ngFor="let bonus of showSet.bonuses">
            <p class="effect-title" >{{bonus.nombre}}</p>
            <p *ngFor="let bono of bonus.listaBonus">
                {{ bono.nombreAtributo }} - {{ bono.valor }}
            </p>
          </div>
          
        </div>
      </p-overlayPanel>
</div>

<div class="grid" >
    <div class="col-12 overflow-hidden" >
        <!-- <div class="col-3 p-2 m-2 overflow-hidden" *ngFor="let bonusAtributo of listaBonus">
            {{ bonusAtributo.nombreAtributo }}: {{ bonusAtributo.valor }}
        </div> -->
        <p-table
        [value]="listaBonus"
        [tableStyle]="{ 'min-width': '75rem' }"
        [paginator]="true"
        [rows]="6"
        [totalRecords]="listaBonus.length"
        [loading]="false"
        [globalFilterFields]="['action', 'impact', 'nombreAtributo', 'valor']"
        >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="action">Action<p-sortIcon field="action"></p-sortIcon></th>
                <th pSortableColumn="impact">Impact <p-sortIcon field="impact"></p-sortIcon></th>
                <th pSortableColumn="nombreAtributo">Attribute<p-sortIcon field="nombreAtributo"></p-sortIcon></th>
                <th pSortableColumn="valor">%<p-sortIcon field="valor"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="action"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="impact"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="nombreAtributo"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="valor"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-attribute>
            <tr>
                <td>{{ attribute.action }}</td>
                <td>{{ attribute.impact }}</td>
                <td>{{ attribute.nombreAtributo }}</td>
                <td>{{ attribute.valor}}</td>
            </tr>
        </ng-template>
        </p-table>
    </div>
</div>
<div class="grid col-12">
    <div class="col-3 overflow-hidden">
        <p-button label="Add to my list" 
        styleClass="p-button-primary"
        (click)="mostrarResultados()">
        </p-button>
    </div>
    <div class="col-3 overflow-hidden ">
        <p-button label="Compare sets" 
        styleClass="p-button-primary" 
        (click)="compareSets()"
        >
        </p-button>
    </div>
    <p-toast></p-toast>
    <div class="col-3 overflow-hidden ">
        <p-button label="Generate sets" 
        styleClass="p-button-primary" 
        (click)="generateComboSets()">
        </p-button>
    </div>
    <div class="col-3 overflow-hidden ">
        <p-button label="Show Filters" 
        styleClass="p-button-primary"
        (click)="showFilterPanel()">
        </p-button>
    </div>
</div>

