/* You can add global styles to this file, and also import other style files
*/@import "primeng/resources/themes/bootstrap4-dark-blue/theme.css";
@import "primeng/resources/primeng.css"; 

body {
    background-color: #2a323d;
  }

.depurar{
  border: 1px solid #ffffff;
}

/* En tu archivo styles.css global */
.p-tooltip .ui-tooltip-text {
  width: 300px !important; /* O el ancho que prefieras */
}



