<div class="card">
    <p-panel header="Sing-up" class="card-container flex align-items-center justify-content-center mt-8">
        <form class="flex flex-column gap-2 mt-3" [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
           
            <label htmlFor="username">Username</label>
            <input 
            pInputText id="username" 
            aria-describedby="username-help"
            class="form-control"
            formControlName="username"
            />
            <span *ngIf="isValidField('username')"  class="form-text text-danger" style="color:red">
                Field username can`t be empty
           </span>

            <label htmlFor="email" class="mt-3">Email</label>
            <input pInputText id="email" 
            aria-describedby="email-help"
            class="form-control"
            formControlName="email" 
            />
            <span *ngIf="isValidField('email')"  class="form-text text-danger" style="color:red">
                email format invalid or empty
           </span>


            <label htmlFor="password" class="mt-3">Password</label>
            <p-password class="form-control"
                        formControlName="password" >
                <ng-template pTemplate="header">
                    <h6>Pick a password</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="mt-2">Suggestions</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li>At least one lowercase</li>
                        <li>At least one uppercase</li>
                        <li>At least one numeric</li>
                        <li>Minimum 8 characters</li>
                    </ul>
                </ng-template>
            </p-password>
            <span *ngIf="isValidField('password')"  class="form-text text-danger" style="color:red">
                password cant be empty or have less than 6 words
           </span>


            <label htmlFor="username" class="mt-3">Repeat password</label>
            <p-password class="form-control"
                        formControlName="password2" >
                <ng-template pTemplate="header">
                    <h6>Repeat password</h6>
                </ng-template>
            </p-password>
            <span *ngIf="isValidField('password2')"  class="form-text text-danger" style="color:red">
                passwords must be the same
           </span>


            <p-button   label="Register" 
                        styleClass="p-button-raised" 
                        class="mt-3"
                        type="submit">
            </p-button>
        </form>

        <!-- <span *ngIf="mensaje"  class="form-text text-danger" style="color:green">
            {{mensaje}}
       </span> -->

        <div class="mt-5">
            <span>Already have an account? </span>
            <a routerLink="/auth/login">Log-in here</a>
        </div>
    
    </p-panel>
</div>

