<div class="card-container indigo-container" >
    <div class="grid col-12" >
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off"  class="grid col-12">
            <div class="grid col-12 justify-content-center text-center" >
                <div class="col-4">
                    Target
                </div>
                <div class="col-4">
                    Action
                </div>
                <div class="col-4">
                    Condition
                </div>
            </div>        
            <div class="grid col-12" >
                <div class="grid col-4">
                    <p-dropdown [options]="targetsOptions"  optionLabel="value"
                    id="selectedTarget"  formControlName="selectedTarget"
                    [filter]="true" filterBy="value" [showClear]="true" placeholder="Select a Target" class="form-control p-fluid col-12">
                        <ng-template pTemplate="selectedTargetI">
                            <div class="flex align-items-center gap-2 h-2rem" *ngIf="selectedTarget">
                                <div>{{ selectedTarget.value  }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-element pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ element.value }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown> 
                    <span *ngIf="isValidField('selectedTarget')"  class="form-text text-danger col-4" style="color:red">
                        Target can`t be empty
                    </span> 
                </div>
                <div class="grid col-4">
                    <p-dropdown [options]="actionsOptions"  optionLabel="value"
                    id="selectedAction"  formControlName="selectedAction"
                    [filter]="true" filterBy="value" [showClear]="true" placeholder="Select a action" class="form-control p-fluid col-12">
                        <ng-template pTemplate="selectedActionI">
                            <div class="flex align-items-center gap-2 h-2rem" *ngIf="selectedTarget">
                                <div>{{ selectedAction.value  }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-element pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ element.value }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown> 
                    <span *ngIf="isValidField('selectedAction')"  class="form-text text-danger col-4" style="color:red">
                        Action can`t be empty
                    </span> 
                </div>
                <div class="grid col-4">
                    <p-dropdown [options]="conditionOptions"  optionLabel="value"
                    id="selectedCondition"  formControlName="selectedCondition"
                    [filter]="true" filterBy="value" [showClear]="true" placeholder="Select a condition" class="form-control p-fluid col-12">
                        <ng-template pTemplate="selectedConditionI">
                            <div class="flex align-items-center gap-2 h-2rem" *ngIf="selectedTarget">
                                <div>{{ selectedCondition.value  }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-element pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ element.value }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown> 
                    <span *ngIf="isValidField('selectedCondition')"  class="form-text text-danger col-4" style="color:red">
                        Condition can`t be empty
                    </span> 
                </div>
            </div>
            <div class="grid col-12 justify-content-center text-center" >
                <div class="col-4">
                    Attribute
                </div>
                <div class="col-4">
                    Value
                </div>
                <div class="col-4">
                    
                </div>
            </div>  
            <div class="grid col-4">
                <p-dropdown [options]="attributes" optionLabel="nombre"
                id="selectedAttribute"  formControlName="selectedAttribute"
                [filter]="true" filterBy="nombre" [showClear]="true" placeholder="Select a Attribute" 
                class="form-control p-fluid col-12 h-3rem" >
                    <ng-template pTemplate="selectedTargetI">
                        <div class="flex align-items-center gap-2 " *ngIf="selectedAttribute">
                            <div>{{ selectedAttribute.nombre  }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-attribute pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ attribute.nombre }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <span *ngIf="isValidField('selectedAttribute')"  class="form-text text-danger col-4" style="color:red">
                    Attribute can`t be empty
                </span> 
            </div>
            <div class="grid col-4">
                <p-inputNumber  
                id="attributeValue" class="form-control p-fluid col-12 h-4rem" formControlName="attributeValue"
                [showButtons]="true" buttonLayout="horizontal" 
                    inputId="horizontal" spinnerMode="horizontal" [step]="5" 
                    incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" 
                >
                </p-inputNumber>
                <span *ngIf="isValidField('attributeValue')"  class="form-text text-danger col-4" style="color:red">
                    Value can`t be empty
                </span> 
            </div>
            <div class="grid col-4">
                <p-button label="Add filter" styleClass="p-button-primary" class="p-fluid col-12"  type="submit">
                </p-button>
            </div>
        </form>
    </div> 
    
    <div class="grid col-12 justify-content-center text-center">
        <p-orderList [value]="attributesFilterList" [listStyle]="{ 'max-height': '15rem' }" 
                header="Filters" filterBy="attributeName" filterPlaceholder="Filter by attribute name" 
                class="p-fluid col-10" *ngIf="rechargeNinjasList" [(selection)]="selectedAttributeFilter">
                    <ng-template let-attribute pTemplate="item">
                        <div class="flex align-items-center p-2 w-full flex-wrap">
                            <!-- <div class="flex-1" >
                                <p-button styleClass="p-button-outlined p-button-danger" class="w-1" 
                                (click)="deleteAttribute()">
                                    <i class="pi pi-trash" style="font-size: 1rem"></i>
                                </p-button>
                            </div> -->
                            <div class="flex-1" >
                                <h5 class="mb-2" style="font-size: 1.3rem">{{ attribute.action }}</h5>
                            </div>
                            <div class="flex-1" >
                                <h5 class="mb-2" style="font-size: 1.3rem">{{ attribute.impact }}</h5>
                            </div>
                            <div class="flex-1" >
                                <h5 class="mb-2" style="font-size: 1.3rem">{{ attribute.condition }}</h5>
                            </div>
                            <div class="flex-1 align-items-start" >
                                <h5 class="mb-2" style="font-size: 1.3rem">{{ attribute.attributeName }}</h5>
                            </div>
                            <div class="flex-1 ">
                                <h5 class="mb-2" style="font-size: 1.3rem">{{ attribute.value }}</h5>
                            </div>
                        </div> 
                    </ng-template>
                </p-orderList>
    </div>
    <div class="grid col-12 justify-content-center text-center">
        <p-checkbox #filter value="Filter sets by attributes"
         label="Filter by attributes value" class="text-center col-3">
        </p-checkbox>
        <p-checkbox #order value="Order sets by attributes value"
         label="Order by attributes value" class="text-center col-3">
        </p-checkbox>
        <p-checkbox #awakening value="Order sets by attributes value"
         label="Search in awakenings" class="text-center col-3">
        </p-checkbox>
        <p-checkbox #or value="Order sets by attributes value"
         label="Ninjas must have all attributes" class="text-center col-3">
        </p-checkbox>
    </div>
    <div class="grid col-12 justify-content-center text-center">
        <div class="grid col-5 justify-content-center text-center mt-2 mr-5">
            <p-dropdown [options]="ninjas" optionLabel="name" [(ngModel)]="selectedNinja"
            [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Ninja" 
            class="form-control p-fluid col-6 h-3rem"  >
                <ng-template pTemplate="selectedTargetI">
                    <div class="flex align-items-center gap-2 " *ngIf="selectedNinja">
                        <div>{{ selectedNinja.name  }}</div>
                    </div>
                </ng-template>
                <ng-template let-ninja pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ ninja.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <p-button styleClass="p-button-priamry" label="Save filters" class="col-3"
        (click)="saveFilters()">
            <i class="pi pi-save" style="font-size: 1rem"></i>
        </p-button>
        <p-button styleClass="p-button-danger" label="Delete filter" class="col-3"
        (click)="deleteAttribute()">
            <i class="pi pi-trash" style="font-size: 1rem"></i>
        </p-button>
    </div>

</div>
