<div class="container" style="background: #2a323d;">
    <!-- style="border: 1px solid #ffffff;" -->
<div class="border-1 surface-border border-round item mt-3" *ngIf="rechargeAccesoriesSetList">
<p-table #accesoriesTable [value]="accesories" selectionMode="single" [(selection)]="selectedAccesorie"  
[rows]="8" [paginator]="true" stateStorage="session" stateKey="statedemo-session">
<ng-template pTemplate="header">
    <tr>
        <th pSortableColumn="name" >Accesories list</th>
    </tr>
    <tr>
        <th>
            <input pInputText type="text" (input)="filter($event,accesoriesTable)" placeholder="Search by Name" class="w-full">
        </th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-accesorieSet let-rowIndex="rowIndex">
    <tr >
        <td class="btn-cell">
            <p-button label="Compare" styleClass="p-button-primary" (click)="addAccesorieSetToCompare(rowIndex)" ></p-button>
            <a class="setName">{{accesorieSet.nombre}}</a>
            <p-button label="Show" styleClass="p-button-secondary" (click)="showAccesorieSetStats(rowIndex,'sets')"></p-button>
        </td>
    </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="4">No sets found.</td>
    </tr>
</ng-template>
</p-table>
</div> 
<div class="border-1 surface-border border-round item mt-3 card" >
    <show-accesories 
     [showAccesories]="showAccesories" 
     [listaBonus]="listaBonus"
     [attributesFilterList]="attributesFilterList"
     (setsChanged)="handleDataFromChild($event)"
     (showCompareView)="compareSets($event)">
    </show-accesories>
</div> 
<div class="border-1 surface-border border-round item mt-3 card" *ngIf="rechargeCompareAccesoriesSetList">
    <p-table #setsTableToCompare [value]="accesoriesToCompare" selectionMode="single" [(selection)]="selectedCompareAccesorieSet"  
    [rows]="6" [paginator]="true" stateStorage="session" stateKey="statedemo-session">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name" >Sets to compare list</th>
        </tr>
        <tr>
            <th>
                <input pInputText type="text" (input)="filter($event,setsTableToCompare)" placeholder="Search by Name" class="w-full">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-set  let-rowIndex="rowIndex">
        <tr >
            <td class="btn-cell">
                <p-button label="Delete" styleClass="p-button-raised p-button-danger" (click)="deleteSetFromCompare(rowIndex)"></p-button>
                <a class="setName">{{set.nombre}}</a>
                <p-button label="Show" styleClass="p-button-secondary setName"  (click)="showAccesorieSetStats(rowIndex,'setCompareList')"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4">No sets to compare.</td>
        </tr>
    </ng-template>
    </p-table>
</div> 
</div>
<p-toast></p-toast>